@using Accounting.Helper
@model IPagedList<Accounting.Models.ViewModels.AccountingViewModel>

@{ 
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th class="">#</th>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Category)</th>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().AccountingDate)</th>
                <th>@Html.DisplayNameFor(m => m.FirstOrDefault().Amount)</th>
            </tr>
            @{
                var i = 0;
            }
            @foreach (var item in Model)
            {
                <tr class="@(item.Category == Accounting.Models.Category.Expend ? "danger" : "info")">
                    <td>@(Model.PageSize * (Model.PageNumber - 1) + ++i)</td>
                    <td>@Html.GetEnumDisplayName(item.Category)</td>
                    <td>@Html.DisplayFor(m => item.AccountingDate)</td>
                    <td>@Html.DisplayFor(m => item.Amount)</td>
                </tr>
            }
        </table>
        <div class="pager">
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new AjaxOptions { UpdateTargetId = "listSection" }).Options(o => o.Action("List"))
        </div>        
    </div>
</div>
