@using Accounting.Helper
@model IPagedList<Accounting.Models.ViewModels.AccountingViewModel>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "ProductList" }))
        {
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
            </tr>
            @{ 
                var i = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(Model.PageSize * (Model.PageNumber-1) + ++i)</td>
                    <td>@Html.GetEnumDisplayName(item.Category)</td>
                    <td>@(item.AccountingDate.ToString("yyyy-MM-dd"))</td>
                    <td>@item.Amount.ToString("N0")</td>
                </tr>
            }
        </table>
        <div class="pager">
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
        </div>
    }
    </div>
</div>
